<p>
  Here are our servers. Currently we have <strong>{{ serverItems.length }}</strong> servers.
  Last checked {{ lastFetched }}. <a href ng-click="getServerItems()">Check now!</a>
</p>

<p>Type a filter or use the predefined buttons below.</p>
<div class="clearfix">
<form class="navbar-form navbar-left" role="search">
    <div class="btn-group">
      <input id="searchinput" ng-model="searchValue" class="form-control" placeholder="Type to Filter Server List" ng-change="filterItems()" class="form-control">
      <span id="searchclear" class="glyphicon glyphicon-remove-circle"  ng-click="searchValue=''"></span>
    </div>

  &nbsp;

  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-success" ng-click="searchValue='ok'">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-warning" ng-click="searchValue='warn'">
      <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-danger" ng-click="searchValue='remove'">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
  </div>
</form>
</div>


<div class="list-group" ng-show="serverItems">
  <div class="list-group-item" ng-repeat="server in serverItems | orderBy:fieldtoOrderBy:reverse | filter:searchValue track by $index">

      <div class="btn-group pull-right btn-group" uib-dropdown is-open="status.isopen">
        <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
          Actions <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
          <li role="menuitem"><a href="#">View Details</a></li>
          <li role="menuitem"><a href="#">Restart</a></li>
          <li role="menuitem"><a href="#">Clear Logs</a></li>
          <li class="divider"></li>
          <li role="menuitem"><a href="#">Properties</a></li>
        </ul>
      </div>

      <div class="pull-right">
        <span class="label"
          ng-class="{'label-success': server.status=='ok', 'label-warning': server.status=='warning-sign', 'label-danger': server.status=='remove'}"
        >
          <span class="glyphicon glyphicon-{{server.status}}"></span>
        </span>
      </div>
    <h4 class="list-group-item-heading">
      <span class="glyphicon"
      ng-class="{'glyphicon-globe': server.type=='worker', 'glyphicon-briefcase': server.type=='master', 'glyphicon-user': server.type=='ldap', 'glyphicon-transfer': server.type=='lb', 'glyphicon-asterisk': server.type=='id' }"
      ></span>
      {{server.name}}</h4>
    <p class="list-group-item-text">{{server.description}}</p>
  </div>
</div>
