<table class="table table-hover">
  <thead>
    <tr>
      <th class="name">&nbsp;</th>
      <th class="name"><a href >Name <span class="glyphicon glyphicon-sort"></span></a></th>
      <th class="name"><a href >Description <span class="glyphicon glyphicon-sort"></span></a></th>
      <th class="name"><a href >Status <span class="glyphicon glyphicon-sort"></span></a></th>
      <th class="name">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="server in servers">
       <td>
         {{server.type}}
       </td>
       <td>
         <strong>
           {{server.name}}
         </strong>
       </td>
       <td>
         <em>
           {{server.description}}
         </em>
       </td>
       <td>
         {{server.status}}
       </td>
       <td>
         <div class="btn-group" uib-dropdown is-open="status.isopen">
           <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
             Actions <span class="caret"></span>
           </button>
           <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
             <li role="menuitem"><a href="#">View Details</a></li>
             <li role="menuitem"><a href="#">Restart</a></li>
             <li role="menuitem"><a href="#">Clear Logs</a></li>
             <li class="divider"></li>
             <li role="menuitem"><a href="#">Properties</a></li>
           </ul>
         </div>
       </td>
     </tr>
 </tbody>
</table>
